[Interface]
Address = {{ item.item.private_ip }}/24
DNS = {{ wireguard_dns }}
PrivateKey = {{ item['content'] | b64decode | replace('\n', '')}}

[Peer]
PublicKey = {{ wireguard_public_key['content'] | b64decode | replace('\n', '') }}
PresharedKey = {{ wireguard_user_preshared_key.results[ansible_loop.index0]['content'] | b64decode | replace('\n', '')}}
{% if item.item.allow_ips == "" %}
AllowedIPs = "0.0.0.0/0, ::/0"
{% else %}
AllowedIPs = {{ wireguard_subnet }}, {{ item.item.allow_ips }}
{% endif %}
Endpoint = {{ wireguard_public_ip.stdout }}:{{ wireguard_port_listen }}
PersistentKeepalive = 25